<h1>Добрый день, <%= @user.email %></h1>
<p>Используйте эту ссылку, чтобы разблокировать учётную запись:</p>
<p>
  <%=
    link_to(
      'Разблокировать',
      unlock_url(token: @user.unlock_token)
    )
  %>
</p>
<% if @user.lock_expires_at %>
  <p>
    Блокировка будет автоматически снята
    <%= @user.lock_expires_at %>
  </p>
<% end %>
<p>Письмо отправлено <%= Time.now %></p>
