// For Vue-Formulate

@import './bootstrap-base';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/vendor/rfs';
@import 'bootstrap/scss/buttons';

@import '@braid/vue-formulate/themes/snow/snow';

.formulate-input {
  margin-bottom: 1rem;
}

.formulate-input-element {
  & > input, & > select {
    font-size: 1rem;
  }
}
.formulate-input .formulate-input-element {
  max-width: none;
}

.formulate-input .formulate-input-label {
  @include margin-left(1rem);
  @include margin-bottom(1rem);
  font-size: 1rem;
}

.formulate-input-element--select > select {
  @include padding-left(0.5rem);
  -webkit-appearance: none;
}

.formulate-input[data-classification="button"] {
  @each $color, $value in $theme-colors {
    &.formulate-input--#{$color} {
      .formulate-input-element--submit > button {
        @include button-variant($value, $value);
      }
    }
  }
}
