// For Vue-Formulate

@import 'bootstrap-base';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/utilities/spacing';
@import 'bootstrap/scss/buttons';

@import '@braid/vue-formulate/themes/snow/snow';

.formulate-input {
  margin-bottom: 1rem;
}

.formulate-input-element {
  & > input, & > select {
    font-size: 1rem;
  }
}
.formulate-input .formulate-input-element {
  max-width: none;
}

.formulate-input .formulate-input-label {
  @extend .ml-2, .mb-2;
  font-size: 1rem;
}

.formulate-input-element--select > select {
  @extend .pl-1;
  -webkit-appearance: none;
}

.formulate-input[data-classification="button"] {
  @each $color, $value in $theme-colors {
    &.formulate-input--#{$color} {
      .formulate-input-element--submit > button {
        @include button-variant($value, $value);
      }
    }
  }
}
